//Variables
$plus-font: 50px;
$head-font: 18px;


//Mixins
@mixin square ($size) {
    width: $size;
    height: $size;
}


//Main Styles
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: 1px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header {
    letter-spacing: 5px;
    font-size: $head-font;
    margin-bottom: 60px;
    margin-top: 10px;

    text: {
        align: center;
        transform: uppercase;
        
    }

    .sub {
        margin-top: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: $head-font + 3px;
    }
}

.gradient .container {
    height: 300px;
    box-shadow: 5px 2px 12px #00000050;
    border-radius: 5px;
    margin-bottom: 30px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;


}

section.settings {
    display: flex;
    justify-content: center;

    input {
        @include square(40px)
    }

    .next {
        @extend input;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .plus {
            font-weight: bold;
            font-size: $plus-font;
        }
    }
}

section.pattern {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

     > .random {
        padding: 10px;
        margin: 20px;
        background-color: black;
        color: white;
        border-radius: 5px;   
    }

    .direction::after {
        content: "▼";
        margin-left: 10px;
    }

    .direction {
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        border: 2px solid black; 
    }
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    strong {
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}