//Variables
$plus-font: 50px;
$head-font: 18px;
$screen: 550px;
$darkred: #8c0b0b;


//Mixins
@mixin square ($size) {
    width: $size;
    height: $size;
}

@mixin circle ($size) {
    @include square ($size);
    border-radius: 50%;
}


//Main Styles
* {
    padding: 0;
    margin: 0;
    outline: none;
    //border: 1px solid blue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: all 500ms ease-in-out 0.1s ;
}

header {
    letter-spacing: 5px;
    font-size: $head-font;
    margin-bottom: 60px;
    padding-top: 10px;

    @media screen and (max-width: $screen) {
        font-size: $head-font * 0.5;
    }

    text: {
        align: center;
        transform: uppercase;
        
    }

    .sub {
        margin-top: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: $head-font + 3px;

        @media screen and (max-width: $screen) {
            font-size: 15px;
        }
    }
}

.gradient .container {
    height: 300px;
    box-shadow: 5px 2px 12px #00000050;
    border-radius: 5px;
    margin-bottom: 30px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;

    @media screen and (max-width: $screen) {
        height: 30vh;
    }
}

section.settings {
    display: flex;
    justify-content: center;

    input {
        margin: 0 5px;
        @include square(40px)
    }

    .more {
        display: flex;
        font-size: 45px;

        .remove {
            display: none;
        }
    }

    .more div {
        @include square(40px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 5px;
    }
}

section.pattern {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;

     > .random {
        padding: 10px;
        margin: 20px;
        background-color: black;
        color: white;
        border-radius: 5px;
        cursor: pointer;   
    }

    .direction::after {
        content: "▼";
        margin-left: 10px;
    }

    .direction {
        padding: 10px;
        margin: 20px;
        border-radius: 5px;
        border: 2px solid black;
        cursor: pointer; 
    }
}

footer {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    strong {
        display: block;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

//Overlays

.overlay {
    background-color: rgba(84, 84, 84, 0.3);
    height: 110vh;
    width: 100vw;
    position: fixed;
    z-index: 200;

    .prompt {
        height: 30vh;
        max-width: 500px;
        box-shadow: 5px 2px 12px #00000050;
        background-color: white;
        margin: 2% auto 0 auto;
    }

    
    
    .message {
        height: 70%;
    }

    .code-message {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .source-code {
        padding: 20px;
    }

    .source {
        border: 1px solid silver;
        overflow: hidden;
        width: 100%;
        height: 80%;
        font-size: 18px;
        font-weight: 100;
        font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
        "Droid Sans Mono", monospace;
    }

    ul {
        li {
            list-style: none;
            font-size: 18px;
            font-weight: 200;
            padding: 3px;
            text-align: center;
            cursor: pointer;
            color: grey;
        }

        li:hover {
            background-color: #dadada;
        }

    }

    .btns {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .close {
        @include circle(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        border: 2px solid red;
        color: red;
        cursor: pointer;
    }

    .close:hover {
        background-color: $darkred;
        border-color: $darkred;
        color: white;
    }
}

.overlay1, .overlay2, .overlay3 {
    display: none;
}